<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key = "echipeFileName" value ="..\\..\\Data\\echipe.txt"/>
		<add key = "eleviFileName" value ="..\\..\\Data\\elevi.txt"/>
		<add key = "jucatoriFileName" value ="..\\..\\Data\\jucatori.txt"/>
		<add key = "meciuriFileName" value ="..\\..\\Data\\meciuri.txt"/>
		<add key = "jucatoriActiviFileName" value ="..\\..\\Data\\jucatoriActivi.txt"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>